{% extends "base.html" %}

{% block title %}
    <title>เกี่ยวกับองค์กรของเรา</title>
{% endblock %}

{% block content %}
    <h1 style="color:blue;">เกี่ยวกับเรา</h1>
    <div class="card" style="width: 18rem;">
        <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t39.30808-6/300497903_411676621061305_6075922621188563158_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEnPtiSATwYmAioa0qI5WkEHOFBHuasrugc4UEe5qyu6KajU4YBcsKFhKJEJCAd6AQKS317ptrmzuGOCVgsqxXp&_nc_ohc=5ptphcYpzWIAX8rmf6n&_nc_ht=scontent.fbkk14-1.fna&oh=00_AfAPcgnV631H7PcwJvAA-E4lfQWvQxd8F0mC8mzjx_GQ7g&oe=641AB1E0" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
{% endblock %}


